<div class="ca-contact-dialog-container">

  <!--
  <md-toolbar color="primary">
    <h2>{{title}}</h2>
  </md-toolbar>
  -->
  <h2>{{title}}</h2>

  <form class="ca-contact-dialog-form" [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit(contactForm)">

    <div class="ca-contact-dialog-form-input-group">
      <md-input-container class="ca-contact-dialog-form-input-item" floatPlaceholder="auto">
        <input mdInput name="firstName" formControlName="firstName" placeholder="First name">
      </md-input-container>
      <md-input-container class="ca-contact-dialog-form-input-item" floatPlaceholder="auto">
        <input mdInput formControlName="lastName" placeholder="Last name">
      </md-input-container>
      <md-input-container class="ca-contact-dialog-form-input-item" floatPlaceholder="auto">
        <input mdInput formControlName="phone" placeholder="Phone">
      </md-input-container>
      <md-input-container class="ca-contact-dialog-form-input-item" floatPlaceholder="auto">
        <input mdInput formControlName="streetAddress" placeholder="Street address">
      </md-input-container>
      <md-input-container class="ca-contact-dialog-form-input-item" floatPlaceholder="auto">
        <input mdInput formControlName="city" placeholder="City">
      </md-input-container>
    </div>

    <div class="ca-contact-dialog-form-actions">
      <!-- Validation could be improved, now submit button is simply disabled until form is valid! -->
      <button md-button type="submit" color="primary" [disabled]="!contactForm.valid">{{action}}</button>
      <button md-button md-dialog-close color="primary">Cancel</button>
    </div>

  </form>

</div>

<!-- For development time debugging -->
<!--
<p>Form valid: {{contactForm.valid}}</p>
<p>Form value: {{contactForm.value | json}}</p>
-->
