<md-sidenav-container>

  <md-sidenav class="ca-sidenav" #nav mode="over" [opened]="false">

    <div class="ca-sidenav-header" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <md-icon style="width: 80px; height: 80px; font-size: 80px">account_circle</md-icon>
        <div style="font-size: 16px">Jukka Hänninen</div>
      </div>
    </div>

    <md-nav-list>
      <md-list-item>
        <h3>In GitHub</h3>
      </md-list-item>
      <md-list-item>
        <a href="https://github.com/Hanninenjp/contacts-app">contacts-app</a>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <div class="ca-app-content">

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.xs="space-between stretch"
         fxLayoutGap="16px">

      <md-toolbar class="ca-app-toolbar" color="primary" fxFlex="100vw">
        <button md-icon-button (click)="nav.open()">
          <md-icon class="md-24">menu</md-icon>
        </button>
        <h2>Contacts App</h2>
        <!-- Add space -->
        <span style="flex: 1 1 auto"></span>
        <span style="font-size: 12px; cursor: pointer" *ngIf="authState" (click)="onLogout()">Logout</span>
      </md-toolbar>

      <div class="ca-toolbar-placeholder-fix"></div>

      <router-outlet></router-outlet>

    </div>

  </div>

</md-sidenav-container>
