<div fxFlex="480px" fxFlex.xs="100vw" style="margin: auto">

  <div fxLayout="column" fxLayoutAlign="start stretch">

    <!-- async pipe is added to enable implementing observable pattern in contact service -->
    <div *ngFor="let contact of contacts | async">
      <app-contact-list-item [contact]="contact"
                             (contactUpdate)="onContactUpdate(contact)"
                             (contactDelete)="onContactDelete(contact)"
                             (contactShowOnMap)="onContactShowOnMap(contact)"></app-contact-list-item>
    </div>

  </div>

</div>

<button caVibration md-fab color="accent" style="position: absolute; bottom: 1rem; right: 1rem;" (click)="onContactCreate()">
  <md-icon class="md-48">add</md-icon>
</button>
