<!--
<h2>ContactListComponent</h2>
-->

<div fxFlex="480px">

  <!-- Toolbar may be later used with responsive layout -->

  <md-toolbar color="primary">
    <h2>Contacts</h2>
  </md-toolbar>

  <md-card>

    <md-card-content>

      <!-- Second layout level is defined to enable proper spacing of contact item cards -->
      <!-- There may be other methods to achieve this -->

      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="16px">

        <!-- async pipe is added to enable implementing observable pattern in contact service -->
        <div *ngFor="let contact of contacts | async">
          <app-contact-list-item [contact]="contact"
                                 (contactUpdate)="onContactUpdate(contact)"
                                 (contactDelete)="onContactDelete(contact)"
                                 (contactShowOnMap)="onContactShowOnMap(contact)"></app-contact-list-item>
        </div>

      </div>

    </md-card-content>

    <md-card-actions align="end">

      <button md-fab color="accent" (click)="onContactCreate()">
        <md-icon class="md-48">add</md-icon>
      </button>

    </md-card-actions>

  </md-card>

</div>

