<!--
<h3>ContactListItemComponent</h3>
-->

<div class="ca-contact-list-item">

  <md-toolbar color="primary">
    <!--
    <md-icon>account_circle</md-icon>
    -->
    <button md-icon-button [disabled]="true">
      <md-icon class="md-24">account_circle</md-icon>
    </button>
    <!-- It seems that there may be some issues with automatically scaling the button according to the defined icon size -->
    <!-- An image could be alternatively tried -->
  </md-toolbar>

  <md-card>

    <md-card-content>
      <h3>{{contact.firstName}} {{contact.lastName}}</h3>
      <p>{{contact.streetAddress}}, {{contact.city}}</p>
      <p><md-icon>phone</md-icon> {{contact.phone}}</p>
    </md-card-content>

    <md-card-actions align="start">

      <button md-icon-button color="primary" (click)="onDelete()">
        <md-icon class="md-24">delete</md-icon>
      </button>
      <button md-icon-button color="primary" (click)="onUpdate()">
        <md-icon class="md-24">edit</md-icon>
      </button>
      <button md-icon-button color="primary" (click)="onShowOnMap()" class="ca-button-show-map">
        <md-icon class="md-24">place</md-icon>
      </button>

    </md-card-actions>

  </md-card>

</div>
